<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.bsmuniversal.com">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.bsmwireless.common.App"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bsmwireless.screens.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.BsmAppWithBGFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.bsmwireless.screens.selectasset.SelectAssetActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.bsmwireless.screens.navigation.NavigationActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.bsmwireless.screens.help.HelpActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.bsmwireless.screens.barcode.BarcodeScannerActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name="com.bsmwireless.screens.driverprofile.DriverProfileActivity"
            android:label="@string/driver_profile"
            android:theme="@style/DriverProfileTheme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.bsmwireless.screens.settings.SettingsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name="com.bsmwireless.screens.autologout.AutoDutyDialogActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Dialog"/>

        <activity
            android:name="com.bsmwireless.screens.editevent.EditEventActivity"
            android:label="@string/edit_event"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name="com.bsmwireless.screens.editlogheader.EditLogHeaderActivity"
            android:label="@string/edit_log_header"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name="com.bsmwireless.screens.lockscreen.LockScreenActivity"/>

        <activity
            android:name="com.bsmwireless.screens.roadsidenavigation.RoadsideNavigationActivity"/>

        <activity
            android:name="com.bsmwireless.screens.transfer.TransferActivity"/>

        <service android:name="com.bsmwireless.data.network.authenticator.BsmAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name="com.bsmwireless.schedulers.jobscheduler.AutoLogoutJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.bsmwireless.schedulers.alarmmanager.AutoLogoutService"/>
        <service android:name="com.bsmwireless.services.monitoring.StatusMonitoringService"/>

        <receiver android:name="com.bsmwireless.schedulers.alarmmanager.AlarmReceiver"/>
        <receiver
            android:name="com.bsmwireless.schedulers.alarmmanager.AlarmBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.bsmwireless.schedulers.jobscheduler.SyncNtpJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name="com.bsmwireless.schedulers.alarmmanager.SyncNtpService"/>

        <receiver android:name="com.bsmwireless.schedulers.alarmmanager.SyncNtpAlarmReceiver"/>
    </application>

</manifest>