<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.bsmuniversal.com">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.bsmwireless.common.App"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:theme="@style/Base.Theme.AppCompat">

        <activity
            android:name="com.bsmwireless.screens.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.BsmAppWithBGFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.bsmwireless.screens.taketour.TakeTourActivity"
            android:theme="@style/Theme.BsmApp"/>

        <activity
            android:name="com.bsmwireless.screens.selectasset.SelectAssetActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.BsmApp"/>

        <activity
            android:name="com.bsmwireless.screens.help.HelpActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.bsmwireless.screens.barcode.BarcodeScannerActivity"
            android:theme="@style/Theme.BsmAppFullScreen"/>

        <activity android:name="com.bsmwireless.screens.driverprofile.DriverProfileActivity"
                  android:label="@string/driver_profile"
                  android:windowSoftInputMode="stateHidden"
                  android:theme="@style/DriverProfileTheme"/>

        <service android:name="com.bsmwireless.data.network.authenticator.BsmAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

    </application>

</manifest>